<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/master">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/fontawesome-all.css" />
    <include path="~/Content/loading.css" />
    <include path="~/Content/toastr.css" />
    <include path="~/Content/site.css" />
    <include path="~/Content/bootstrap-select.css" />
  </styleBundle>

  <!--<styleBundle path="~/Content/admin">
  </styleBundle>-->
</bundles>
