<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="On" defaultRedirect="~/Errors/error.html" redirectMode="ResponseRewrite" xdt:Transform="Replace">
      <error statusCode="401" redirect="~/Errors/401.aspx"/>
      <error statusCode="403" redirect="~/Errors/403.aspx"/>
      <error statusCode="404" redirect="~/Errors/404.aspx"/>
      <error statusCode="500" redirect="~/Errors/error.html"/>
    </customErrors>

    <authentication>
      <!--Disable this when debuging-->
      <forms loginUrl="/" name=".NUSMED" cookieless="UseCookies" protection="All" timeout="15" slidingExpiration="true" requireSSL="true" domain=".comp.nus.edu.sg" xdt:Transform="Replace"/>
    </authentication>

  </system.web>
</configuration>