<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="On" defaultRedirect="~/Errors/error.html" redirectMode="ResponseRewrite" xdt:Transform="Replace">
      <error statusCode="401" redirect="~/Errors/401.aspx"/>
      <error statusCode="403" redirect="~/Errors/403.aspx"/>
      <error statusCode="404" redirect="~/Errors/404.aspx"/>
      <error statusCode="500" redirect="~/Errors/error.html"/>
    </customErrors>
  </system.web>

  <nwebsec>
    <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <redirectValidation enabled="true" xdt:Transform="Replace">
        <allowSameHostRedirectsToHttps enabled="true" httpsPorts="443" xdt:Transform="Replace"/>
      </redirectValidation>
      <securityHttpHeaders>
        <strict-Transport-Security max-age="365" includeSubdomains="true" preload="true" httpsOnly="true" xdt:Transform="Replace"/>
        <content-Security-Policy enabled="true">
          <upgrade-insecure-requests enabled="true" xdt:Transform="Replace"/>
        </content-Security-Policy>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>

</configuration>