<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="nwebsec">
      <!-- For information on how to configure NWebsec please visit: https://docs.nwebsec.com/ -->
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--Connection Strings-->
  <appSettings>
    <add key="ConnectionString" value="Data Source=127.0.0.1; Database=nusmed_db; User ID=nusmed_anon; Password=P@ssw0rd; pooling=false; Convert Zero Datetime=True; Allow Zero Datetime=True;" />
    <add key="ConnectionStringLogging" value="Data Source=127.0.0.1; Database=nusmed_log_db; User ID=nusmed_log_anon; Password=DarthP@ssw0rd; pooling=false; Convert Zero Datetime=True; Allow Zero Datetime=True;" />
    <add key="fileServerPath" value="C:\NUSMED" />
    <add key="JWTRsaFullKey" value="JWT-Rsa-Full-Key-DEBUG-KEY" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.8" enableVersionHeader="false" executionTimeout="300" />
    <sessionState timeout="30" cookieless="UseCookies" cookieName=".NUSMED_SessionId" mode="InProc" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <!--Error Pages Settings for legacy and .net exceptions-->
    <customErrors mode="Off" defaultRedirect="~/Errors/error.html" redirectMode="ResponseRewrite">
      <error statusCode="401" redirect="~/Errors/401.aspx" />
      <error statusCode="403" redirect="~/Errors/403.aspx" />
      <error statusCode="404" redirect="~/Errors/404.aspx" />
      <error statusCode="500" redirect="~/Errors/error.html" />
    </customErrors>
    <!--Form authentication login page and cookie name settings-->
    <authentication mode="Forms">
      <!--Disable this when debuging-->
      <forms loginUrl="~/" name=".NUSMED" cookieless="UseCookies" protection="All" timeout="15" slidingExpiration="true" requireSSL="false" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>   
  </system.web>
  <!--Form authentication user and location settings-->
  <!--Multiple, Role not selected-->
  <location path="Role-Selection">
    <system.web>
      <authorization>
        <allow roles="Multiple" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!--Patient-->
  <location path="Patient">
    <system.web>
      <authorization>
        <allow roles="Patient" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!--Therapist-->
  <location path="Therapist">
    <system.web>
      <authorization>
        <allow roles="Therapist" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!--Researcher-->
  <location path="Researcher">
    <system.web>
      <authorization>
        <allow roles="Researcher" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!--Administrator-->
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="My-Account">
    <system.web>
      <authorization>
        <allow roles="Patient" />
        <allow roles="Therapist" />
        <allow roles="Researcher" />
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.1.0" newVersion="3.9.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <!--Force default document-->
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <!--Compression Settings-->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="7.24:00:00" />
    </staticContent>
    <!--Error Pages Settings for IIS exceptions-->
    <httpErrors errorMode="Custom">
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="401" path="/Errors/401.aspx" responseMode="ExecuteURL" />
      <error statusCode="403" path="/Errors/403.aspx" responseMode="ExecuteURL" />
      <error statusCode="404" path="/Errors/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Errors/error.html" responseMode="ExecuteURL" />
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
        <hiddenSegments>
          <add segment="NWebsecConfig" />
          <add segment="Data-Hierarchy" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler,AjaxControlToolkit" />
    </handlers></system.webServer>
  <!--FOR SSL and CSP headers-->
  <nwebsec>
    <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <redirectValidation enabled="false">
        <allowSameHostRedirectsToHttps enabled="false" httpsPorts="8443,443" />
      </redirectValidation>
      <setNoCacheHttpHeaders enabled="false" />
      <x-Robots-Tag enabled="false" noIndex="false" noFollow="false" noArchive="false" noOdp="false" noSnippet="false" noImageIndex="false" noTranslate="false" />
      <securityHttpHeaders>
        <!--Note that HTTP Public Key Pinning (HPKP) is neglected here-->
        <x-Frame-Options policy="Deny" />
        <!--Disable httpsOnly when debuging-->
        <strict-Transport-Security max-age="365" includeSubdomains="true" preload="true" httpsOnly="false" />
        <x-Content-Type-Options enabled="true" />
        <x-Download-Options enabled="true" />
        <x-XSS-Protection policy="FilterEnabled" blockMode="true" />
        <content-Security-Policy enabled="true">
          <!--Disable this when debuging-->
          <upgrade-insecure-requests enabled="false" />
          <default-src enabled="true" />
          <!--White list other policies that are not specified-->
          <script-src self="true" unsafeInline="true" unsafeEval="true" />
          <img-src enabled="true" />
          <!--Allow images from else where, cater to dynamic content-->
          <object-src self="true" />
          <media-src self="true" />
          <font-src self="true" />
          <connect-src self="true" />
          <frame-src self="true" />
          <frame-ancestors self="true" />
          <report-uri enableBuiltinHandler="true" />
        </content-Security-Policy>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>
</configuration>
