<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="On" defaultRedirect="~/Errors/error.html" redirectMode="ResponseRewrite" xdt:Transform="Replace">
      <error statusCode="401" redirect="~/Errors/401.aspx"/>
      <error statusCode="403" redirect="~/Errors/403.aspx"/>
      <error statusCode="404" redirect="~/Errors/404.aspx"/>
      <error statusCode="500" redirect="~/Errors/error.html"/>
    </customErrors>
  </system.web>

  <nwebsec>
    <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xdt:Transform="Replace">
      <redirectValidation enabled="true">
        <allowSameHostRedirectsToHttps enabled="false" httpsPorts="8443,443"/>
      </redirectValidation>
      <setNoCacheHttpHeaders enabled="false"/>
      <x-Robots-Tag enabled="false" noIndex="false" noFollow="false" noArchive="false" noOdp="false" noSnippet="false" noImageIndex="false" noTranslate="false"/>
      <securityHttpHeaders>
        <x-Frame-Options policy="Deny"/>
        <strict-Transport-Security max-age="365" includeSubdomains="true" preload="true" httpsOnly="true"/>
        <x-Content-Type-Options enabled="true"/>
        <x-Download-Options enabled="true"/>
        <x-XSS-Protection policy="FilterEnabled" blockMode="true"/>
        <content-Security-Policy enabled="true">
          <upgrade-insecure-requests enabled="true"/>
          <default-src enabled="true"/>
          <script-src self="true" unsafeInline="true" unsafeEval="true"/>
          <img-src enabled="true"/>
          <object-src self="true"/>
          <media-src self="true"/>
          <font-src self="true"/>
          <connect-src self="true"/>
          <frame-src none="true"/>
          <frame-ancestors none="true"/>
          <report-uri enableBuiltinHandler="true"/>
        </content-Security-Policy>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>

</configuration>